@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body,
html {
  background-color: #cccddd;
}

.home {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .initial-loading {
    display: flex;
    justify-content: center;
    span {
      font-size: 40px;
      font-weight: bold;
      color: #565656;
    }
  }
  .loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    opacity: 0.6;
    z-index: 1;
  }
  &__bottom-warning {
    position: absolute;
    left: 1rem;
    right: 1rem;
    bottom: 1rem;
  }

  &__text-link {
    text-decoration: underline;
    cursor: pointer;
  }

  .main-content {
    display: flex;
    height: 55%;
    width: 100%;
    align-items: center;
    position: relative;
    margin: 0;
    padding: 0;
    box-shadow: 0 1px 120px 0 #666666;
    border-radius: 25px;
    background: #3e2b4f;
  }
  .bg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    opacity: 0.38;
    background-image: linear-gradient(333deg, rgba(34, 193, 195, 1) 0%, rgba(224, 45, 253, 1) 100%);
  }

  .left-container {
    position: absolute;
    width: 35%;
    height: 105%;
    border-radius: 25px;
    background-image: url(../../assets/images/bg-md.jpg);
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    box-shadow: 0 0 8px -1px #262626;
    -webkit-box-shadow: 0 0 8px -1px #262626;
    border: none;
  }

  .right-container {
    position: absolute;
    right: 0;
    top: 0;
    width: 65%;
    height: 100%;
    padding: 35px;

    .info-item {
      transition: all ease-in-out 0.24s;
      -webkit-transition: all ease-in-out 0.24s;
      transform-style: preserve-3d;
    }

    .info-item:hover {
      transform: translateX(20px) perspective(200px);
      -webkit-transform: translateX(20px) perspective(200px);
    }

    .forecast-container {
      display: flex;
      .forecast-day {
        display: flex;
        align-items: center;
        flex-direction: column;
        min-width: calc((100% - 125px) / 4);
        text-align: center;
        margin: 15px;
        border-radius: 10px;
        padding: 20px;
        transition: all cubic-bezier(0.34, 0.85, 0.35, 0.86) 0.34s;
        -webkit-transition: all cubic-bezier(0.34, 0.85, 0.35, 0.86) 0.34s;
        box-shadow: 0 2px 30px #311e42;
        -webkit-box-shadow: 0 2px 30px #311e42;
        cursor: pointer;
        transform-style: preserve-3d;
        color: white;
        &:hover {
          background-color: #f7f7f7;
          transform: scale(1.09);
          -webkit-transform: scale(1.09);
          color: black;
        }

        .weather-icon-card {
          width: 100px;
          height: auto;
        }
      }
    }

    .input-container {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin: 50px auto;
    }

    .button-change-location {
      margin: 0 30px;
      padding: 10px 65px;
      background-color: transparent;
      color: white;
      font-weight: 700;
      font-size: 16px;
      border: none;
      border-radius: 10px;
      box-shadow: 0 2px 30px #2b2b2b;
      cursor: pointer;
      display: flex;
      align-items: center;
      transition: all cubic-bezier(0.34, 0.85, 0.35, 0.86) 0.34s;
      -webkit-transition: all ease-in-out 0.24s;
      outline: none;
      #locationIcon {
        color: white;
        transition: all cubic-bezier(0.34, 0.85, 0.35, 0.86) 0.34s;

        -webkit-transition: all ease-in-out 0.24s;
        margin-right: 0.5rem;
      }
    }

    .button-change-location:hover {
      background-color: #dddddd;
      color: #110100;

      #locationIcon {
        color: black;
      }
    }
  }

  .today-info-container {
    color: white;
    font-family: calibri;
    display: flex;
    flex-direction: column;
    padding: 30px;
    position: absolute;
    span {
      font-size: 1.3rem;
    }
    .day-of-week {
      font-size: 5rem;
      font-weight: 900;
    }

    .date {
      font-size: 2.2rem;
      margin-bottom: 20px;
    }

    .location-group {
      display: flex;
      align-items: center;
      .location-group-icon {
        margin-right: 0.45rem;
      }
    }
    .weather-icon {
      height: 100%;
      width: 150px;
    }
  }
}
